@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,200&display=swap');

body{
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #252423;
}

#loading{
    position: absolute;
    display: flex;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
#LOGO path{
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
}

#loading svg{
    order: 1;
}

#loading p{
    position: fixed;
    top: 80%;
    color: #6a47af;
    order: 2;
    font-family: 'REM', sans-serif;
    font-size: 45px;
    white-space: nowrap;
    transform: translateX(-10px);
    letter-spacing: 5px;
    overflow:hidden;
    width: 0;
}
